@import './reset';
@import '../libs/normalize';
@import './vars';
@import './fonts';

// /. imports

html,
body {
    font-size: $font-size;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}