html,
body {
    font-size: 14px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #555;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}